@model ToDoAppMVC.Models.Item


<p>
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)    
</p>
<p>
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
</p>
<p>
    @Html.LabelFor(model => model.CompletedOn)
    @Html.TextBoxFor(model => model.CompletedOn, new {@type="date"})    
</p>
@Html.TextBoxFor(model => model.ItemId, new{@style="visibilty:hidden;"})